.social {
	height: 20px;
	width: auto;
}
#logo1img {
	height: 100px;
	width: auto;
	margin-top: 11%;
}
#logo2img {
	height: 100px;
	width: auto;
}
.navbar-brand {
	float: left;
	height: 110px;
	padding: 0px 30px 15px 70px;
	line-height: 100px;
}
.socialright {
	float: right;
	margin-right: 3.5%;
}
ul.nav.navbar-nav>li {
	margin: 45px 0px 15px 20px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: transparent;
}
