.col-md-5ths {
	position: relative;
	min-height: 1px;
	width: 20%;
	max-height: 33%;
	float: left;
}

img {

}

.copyright {
	text-align: center;
}

#bodytopmargin {
	margin-top: 2%;
}

#testtext {
	color: #000;
}

.mycontainer {
	position: static;
}

#copyrightcontainer {
	max-height: 20px;
}

#aboutusimg {
	width: 100%;
	height: auto;
}

.popupimg {
	width: 100%;
	height: auto;
}
