html, body {
	height: 100%;
	background-color: #fff;
}

.col-md-5ths {
	position: relative;
	min-height: 1px;
	width: 20%;
	max-height: 33%;
	float: left;
}

img {

}

.caption-style-1{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.caption-style-1 li{
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.caption-style-1 li:hover .caption{
	opacity: 1;
}

.caption-style-1 img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}

.caption-style-1 .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	-o-transition:all 0.45s ease-in-out;
	-ms-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;
}

.caption-style-1 .blur{
	background-color: rgba(0,0,0,0.65);
	height: inherit;
	width: inherit;
	z-index: 5;
	position: absolute;
}

.caption-style-1 .caption-text{
	z-index: 10;
	color: #fff;
	position: relative;
	margin: 5px;
	text-align: left;
}

.copyright {
	text-align: center;
}

#mynavi-1 {
	height: 90px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#mynavi-2 {
	height: inherit;
}

#mynavi-3 {
	height: inherit;
}

#mynavi-4b {
	margin-top: 2.5%;
	margin-left: 2%;
}

#mybrandlogo1 {
	height: 120px;
    width: auto;
    margin-top: -45px;
    margin-left: 75px;
    margin-right: 25px;
}

#mybrandlogo2 {
	height: 90px;
	width: auto;
	margin-top: -20px;
	margin-left: 75px;
	margin-right: 25px;
}

#bodytopmargin {
	margin-top: 2%;
}

#testtext {
	color: #000;
}

.mydiv {
	float: left;
    max-height: 500px;
	width: -moz-max-content;
	width: -webkit-max-content;
}

#mycontainer {
    margin-top: 130px;
    margin-left: 7%;
	padding-left: 0%;
	padding-right: 0%;
}

#copyrightcontainer {
	max-height: 20px;
}

.socialicons {
	height: 20px;
	width: auto;
}

.navlinks {
	margin-right: 25px;
}

#aboutusimg {
	width: 100%;
	height: auto;
}
